
.texto{
    font-family: "Special Elite", system-ui;
}

/*********************** navbar ************************/

.logo-cine{
    width: 20vw;
}

/*********************** carrousel ************************/
.carrousel-cartelera {
    display: flex;
    justify-content: left;
    align-items: baseline;
    text-align: center;
    overflow: scroll;
}
.tarjeta {
    padding: 20px;
    width: 600px;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.imagen-cartelera{
    width: 160px;
    height: 228px;
    object-fit:fill;
    border-radius: 10px;
    background-size: cover;
}
.option-cartelera{
    width: 160px;
}

#imagen-cartelera1{
    background-image: url(/DOMJS2/images/cartelera/dune2.jpeg);
}
#imagen-cartelera2{
    background-image: url(/DOMJS2/images/cartelera/politicamente_incorrectos.jpeg);
}
#imagen-cartelera3{
    background-image: url(/DOMJS2/images/cartelera/madame_web.jpeg);
}
#imagen-cartelera4{
    background-image: url(/DOMJS2/images/cartelera/bob_marley.jpeg);
}
#imagen-cartelera5{
    background-image: url(/DOMJS2/images/cartelera/cualquiera-menos-tu.jpeg);
}
#imagen-cartelera6{
    background-image: url(/DOMJS2/images/cartelera/guardianes_de_la_noche.jpeg);
}
#imagen-cartelera7{
    background-image: url(/DOMJS2/images/cartelera/ferrari.jpeg);
}
#imagen-cartelera8{
    background-image: url(/DOMJS2/images/cartelera/horror_park.jpeg);
}
#imagen-cartelera9{
    background-image: url(/DOMJS2/images/cartelera/secretos_de_un_escandalo.jpeg);
}
#imagen-cartelera10{
    background-image: url(/DOMJS2/images/cartelera/ocho-apellidos-marroquis.jpeg);
}
#imagen-cartelera11{
    background-image: url(/DOMJS2/images/cartelera/aquaman.jpeg);
}
#imagen-cartelera12{
    background-image: url(/DOMJS2/images/cartelera/beekeeper.jpeg);
}
#imagen-cartelera13{
    background-image: url(/DOMJS2/images/cartelera/chicas-malas.jpeg);
}
#imagen-cartelera14{
    background-image: url(/DOMJS2/images/cartelera/cuando-acecha-la-maldad.jpeg);
}
#imagen-cartelera15{
    background-image: url(/DOMJS2/images/cartelera/elcorreo-19enero.jpeg);
}
#imagen-cartelera16{
    background-image: url(/DOMJS2/images/cartelera/guardianes-museo.jpeg);
}


/*********************** datos texto entrada ************************/
#logo-cine{
    width: 200px;
    display: none;
}
#qr{
    max-width: 80px;
    display: none;
}
#cinema-ticket{
    opacity: 0%;
}
#containerimagen{
    margin: 0;
    padding: 0;
    width: 750px;
    height: 312.38px;
}
.entrada-texto{
    width: 750px;
    height: 312.38px;
    background-image: url(/DOMJS2/images/ticket2.png);
    filter: grayscale(90%);

    background-position: center;
    background-size: cover;
}
.entrada-left{
    width: 555px;
    height: 270px;
    padding: 20px;
}
.entrada-right{
    width: 150px;
    height: 270px;
    padding: 20px;
}

#fecha-hora2{
    text-align: center;
}
#foto-entrada{
    width: 80px;
    height: 114px;
    border-radius: 5px;
    display: none;
    background-image: ;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);

}
@media print {
    .print{
        display: none;
        opacity: 0%;
    }

}