span{
    font-size: x-large;
}
#containerimagen{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

img{
    border-radius: 5px;
    width: 60%;
}

.index-foto{
    width: 400px;
    height: 600px;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-wrap: wrap;
    
    
}


#index-foto1{
    background-image: url(/images/gimnasio.jpg);
    color: white;

}
#index-foto2{
    background-image: url(/images/palomitas.jpg);
    color: black;

}

.logo-cine{
    width: 100px;
}

